# Python specific ignores
__pycache__/               # Bytecode cache directories
*.pyc                      # Compiled Python files
*.pyo                      # Compiled Python files
*.pyd                      # Compiled Python files (shared object files)

.vscode/ 
logs/ 
